nav ul {
  margin: 10px;
  list-style: none;
}
nav {
  margin-top: 20px;
}
nav li {
  display: inline;
}

nav a {
  color: white;
  background: rgba(0, 255, 255, 1);
  padding: 20px;
  font-size: 1.3em;
  text-decoration: none;
}
nav a:hover {
  transition-duration: 0.5s;
  background-color: rgba(0, 255, 255, 0.7);
}
nav a:active {
  color: yellow;
  font-size: 1.5em;
  text-decoration: underline;
}
